/**
 * Global: Common.
 * ------------------------------------------------------------------------------------------------------------------ */

body {
	font-family: $font-family-global;
	background-color: $background-color-body;
	> div {
		font-size: $font-size-global;
	}
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

:focus {
	outline: none;
}

.msg-none {
	font-style: italic;
	color: hsl(0, 0%, 48%);
}