/**
 * Common.
 * ------------------------------------------------------------------------------------------------------------------ */

.entry {
	&-content {
		/**
		 * Tag: H1-6.
		 * ---------------------------------------------------------------------------------------------------------- */

		@for $i from 1 through 6 {
			h#{$i} {
				@include heading();
			}
		}

		/**
		 * Tag: PRE.
		 * ---------------------------------------------------------------------------------------------------------- */

		pre {
			overflow: auto;
			border: .1rem solid $color-gray-light;
			box-shadow: $form-box-shadow;
			padding: .4rem;
			font-size: 1.4rem;
			text-align: left;
			code {
				background-color: transparent;
			}
		}

		/**
		 * Tag: FIGURE.
		 * ---------------------------------------------------------------------------------------------------------- */

		img {
			border: .1rem solid $color-gray-light;
			padding: .1rem;
		}
		.wp-caption-text {
			font-style: italic;
			font-weight: 400;
			color: $color-gray-light;
			font-size: 1.2rem;
		}

		/**
		 * Tag: TABLE.
		 * ---------------------------------------------------------------------------------------------------------- */

		table {
			th {
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 1.2rem;
				text-transform: uppercase;
			}
			td {
				font-size: 1.4rem;
			}
		}
	}
}

/**
 * Tag: GIST.
 * ------------------------------------------------------------------------------------------------------------------ */

.gist {
	table {
		tbody {
			border: none;
		}
		td {
			border: none;
		}
	}
}