/**
 * Header: Common.
 * ------------------------------------------------------------------------------------------------------------------ */

.site-title {
	font-family: $heading-font-family;
	font-weight: normal;
	text-transform: unset;
}
