/**
 * Pages: Common.
 * ------------------------------------------------------------------------------------------------------------------ */

main {
	article {
		&.page {
			.post-edit-link {
				font-size: $font-size-meta;
				float: right;
			}
		}
	}
}

.full-width-content,
.landing-page {
	.content {
		width: auto;
	}
}
/*
.site-inner {
	max-width: 1344px;
}

.content {
	width: 70%;
}
.sidebar {
	width: 25%;
}

.footer-widgets .wrap{
	max-width: 1344px;
}*/