/**
 * Common.
 * ------------------------------------------------------------------------------------------------------------------ */

.entry {
	.entry {
		&-header {
			position: relative;
			.entry {
				&-meta {
					overflow: hidden;
					margin-bottom: 1rem;
					> span,
					> time {
						display: inline-block;
						margin-right: 1rem;
					}
				}
			}
		}
		&-format {
			display: block;
			background-color: #fff;
			border-radius: $border-radius-large;
			text-align: center;
			font-size: 4rem;
			float: left;
			margin-right: 2rem;
			a {
				display: block;
			}
		}
		&-title {
			@include heading();
			a {
				&:hover,
				&:focus {
					color: $heading-color-hover;
				}
			}
		}
		&-meta {
			position: relative;
			color: $color-gray-light;
			font-size: $font-size-meta;
		}
		&-time {
			&:before {
				@include icon-left('\f017');
			}
		}
		&-author {
			&:before {
				@include icon-left('\f007');
			}
		}
		&-comments-link {
			&:before {
				@include icon-left('\f086');
			}
		}
		&-categories {
			&:before {
				@include icon-left('\f07c');
			}
		}
		&-tags {
			&:before {
				@include icon-left('\f02c');
				font-weight: 900;
			}
		}
		&-content {
			font-family: $font-family-content;
			//text-align: justify;
			.more-link {
				display: block;
			}
		}
		&-footer {
			.entry {
				&-meta {
					border-top: none;
					margin-top: 2rem;
					padding-top: 0;
				}
			}
		}
		&-pagination {
			text-align: right;
			font-family: $font-family-global;
			font-size: 1.4rem;
			color: $color-gray-light;
		}
	}
	&:hover {
		.post-edit-link {
			display: block;
		}
	}
	.post-edit-link {
		display: none;
		float: right;
	}
}

.author {
	&-box {
		border-radius: $border-radius-base;
	}
	&-box-title {
		@include heading();
		overflow: hidden;
	}
	&-box-content {
		overflow: hidden;
		font-family: $font-family-content;
	}
}