/**
 * Common.
 * ------------------------------------------------------------------------------------------------------------------ */

.site {
	&-title {
		font-family: $heading-font-family;
		font-weight: normal;
		text-transform: unset;
	}
	&-container {
	}
	&-header {
		border-bottom: 1px solid #eee;
	}
	&-inner {
		border: 1px solid #eee;
		box-shadow: 0 .7rem 5rem 0 rgba(38, 50, 56, .07);
		margin: 15rem auto 8rem !important;
	}
	&-footer {
		border-top: 1px solid #eee;
		box-shadow: 0 0 20px rgba(0, 0, 0, .05);
	}
}

@media only screen and (max-width: 960px) {
	.site {
		&-inner {
			background: inherit;
			border: none;
			border-radius: 0;
			box-shadow: none;
			margin: inherit !important;
		}
	}
}