/**
 * Menus: Common.
 * ------------------------------------------------------------------------------------------------------------------ */

.genesis-nav-menu {
	.menu-item {
		text-transform: uppercase;
		&-cart {
			a {
				display: grid;
				align-items: center;
				grid-template-columns: repeat(3, min-content);
				grid-gap: 0 .5rem;
				.cart{
					display: block;
					border-radius: .2rem;
					color: #fff;
					font-family: 'Fira Mono', monospace;
					font-size: 1rem;
					line-height: 1;
					padding: .5rem;
					&-count {
						background: hsl(141, 71%, 48%);
					}
					&-total {
						background: hsl(217, 71%, 53%);
					}
				}
			}
		}
	}
	.sub-menu {
		a {
			line-height: 1.5;
		}
	}
}

@media only screen and (min-width: 960px) {
	.genesis-responsive-menu {
		.genesis-nav-menu {
			$sub-menu-size: 280px;
			.menu-item-has-children {
				> a {
					&:after {
						@include icon-menu-arrow('\f107', right);
					}
				}
			}
			.sub-menu {
				box-shadow: $menu-sub-box-shadow;
				width: $sub-menu-size;
				right: 0;
				a {
					width: $sub-menu-size;
				}
				.sub-menu {
					top: -1px;
					right: ($sub-menu-size - 1);
					margin: 0;
				}
				.menu-item-has-children {
					> a {
						&:after {
							content: none;
						}
						&:before {
							@include icon-menu-arrow('\f104', left);
						}
					}
				}
			}
		}
	}
}