/**
 * Menus: Common.
 * ------------------------------------------------------------------------------------------------------------------ */

.genesis-nav-menu {
	.menu-item {
		text-transform: uppercase;
	}
	.sub-menu {
		a {
			line-height: 1.5;
		}
	}
}

@media only screen and (min-width: 960px) {
	.genesis-responsive-menu {
		.genesis-nav-menu {
			$sub-menu-size: 280px;
			.menu-item-has-children {
				> a {
					&:after {
						@include menu-icon-arrow('\f107', right);
					}
				}
			}
			.sub-menu {
				box-shadow: $menu-sub-box-shadow;
				width: $sub-menu-size;
				right: 0;
				a {
					width: $sub-menu-size;
				}
				.sub-menu {
					top: -1px;
					right: ($sub-menu-size - 1);
					margin: 0;
				}
				.menu-item-has-children {
					> a {
						&:after {
							content: none;
						}
						&:before {
							@include menu-icon-arrow('\f104', left);
						}
					}
				}
			}
		}
	}
	/*
	.genesis-responsive-menu {
		.genesis-nav-menu {
			$sub-menu-size: 280px;
			.menu-item-has-children {
				> a {
					display: flex;
					span {
						display: block;
						flex: auto;
					}
					&:after {
						@include menu-icon-arrow('\f107', right);
					}
				}
			}
			.sub-menu {
				width: $sub-menu-size;
				a {
					width: $sub-menu-size;
				}
				.sub-menu {
					top: -1px;
					right: -($sub-menu-size - 1);
					margin: 0;
				}
				.menu-item-has-children {
					> a {
						&:after {
							@include menu-icon-arrow('\f105', right);
						}
					}
				}
			}
			> .menu-item {
				&:nth-last-child(-n+2) {
					> .sub-menu {
						right: 0;
						.sub-menu {
							right: ($sub-menu-size - 1);
						}
						.menu-item-has-children {
							> a {
								&:after {
									content: none;
								}
								&:before {
									@include menu-icon-arrow('\f104', left);
								}
							}
						}
					}
				}
			}
		}
	}
	*/
}