/**
 * Navigation: Common.
 */

/**
 * Navigation: Breadcrumb.
 */

.breadcrumb {
	margin: $breadcrumb-margin;
	font-size: $breadcrumb-font-size;
	font-family: $heading-font-family;
	line-height: 1.2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

